@media screen and (max-width: 1200px) {

    .container, header, main, footer, section {
        width: 100%;
    }

    /***Header***/
    .titre-header {
        width: 100%;
    }
    .titre-principal {
        width: 100%;
    }
    .button,.cont-button {
        width: 100%;
    }
    .souris {
        width: 100%;
    }

    /***apropos***/
    .apropos {
        width: 100%;
    }
    .bloc img {
        margin-top: 20px;
    }
    .img-bloc {
        width: 90%;
        padding: 0;
        margin-top: 0;
    }
    .contenu {
        width: 100%;
    }
    .contact-me {
        width: 100%;
    }
    .contact-me a {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    /***competences***/
    .competences {
        width: 100%;
    }

    /***creations***/
    .creation, .cont-creation {
        width: 100%;
    }
    .creation {
        padding-bottom: 80px;
    }
    .cont-figure {
        max-width: 100%;
    }
    .logo-foot,.cont-foot,.cont-log-foot {
        width: 100%;
    }
    .presentation-foot-g,
    .presentation-foot-d {
        padding: 0;
    }
}

@media screen and (max-width: 1100px) {

    /***apropos***/
    .contenu { 
        width:90%; 
        flex-direction: column;
    }
    .bloc {
        width: 90%;
    }
    .text-bloc,.titre-bloc {
        width: 100%; 
        text-align: center;
    }
    .mission {
        width: 100%;
    }

    /***competences***/
    .container-comp {
        width:90%; flex-direction: column;
    }
    .comp {
        width: 90%; 
    }
    .comp ul, h5 {
        text-align: center;
        padding: 0;
    }
    .bloc-bar {
        width: 100%; 
    }
    .bar-span {
        width: 100%;
    }
}

@media screen and (max-width: 990px) {

    /***Header***/
    .titre-header h1 {
        font-size: 40px;
    }
    .titre-header h2 {
        font-size: 30px;
    }
    .img-bloc {
        max-width: 50%;
    }

    /***creations***/
    .cont-figure {
        flex-direction: column;
    }
    .snip1584 {
        max-width: 500px;
        min-width: 150px;
    }

    /***footer***/
    .cont-foot {
        flex-direction: column;
    }
    .presentation-foot-g,
    .presentation-foot-d {
        width: 90%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 700px) {

    .contenu {
        width:100%;
    }
    .bloc {
        width: 100%;
    }

    .snip1584 {
        max-width: 400px;
    }
    .fondapropos, .fondcomp {
      display: none;
    }
}

@media screen and (max-width: 600px) {

    /***Header***/
    .titre-header h1 {
        font-size: 35px;
    }
    .titre-header h2 {
        font-size: 25px;
    }
    .img-bloc {
        max-width: 60%;
    }
    .snip1584 {
        max-width: 400px;
    }
    .fondapropos, .fondcomp {
        display: none;
    }    
}

@media screen and (max-width: 430px) {

    /***Header***/
    .titre-header h1 {
        font-size: 20px;
    }
    .titre-header h2 {
        font-size: 15px;
    }
    .button a {
        font-size: 10px;
    }
    .img-bloc {
        max-width: 60%;
    }
    .center {
        top: 55%;
    }
    .button { padding-top: 30px; }
    .snip1584 {
        max-width: 300px;
    }
    .fondapropos, .fondcomp {
        display: none;
    }    
}

@media screen and (max-width: 300px) {

    /***Header***/
    .titre-header h1 {
        font-size: 15px;
    }
    .titre-header h2 {
        font-size: 10px;
    }
    .button a {
        width: 70px;
        font-size: 7px;
    }
    .img-bloc {
        max-width: 60%;
    }

    /***APROPOS***/
    .apropos h3 {
        font-size: 20px; 
    }   
    .apropos h4 {
        font-size: 15px; 
    }
    .fondapropos {
       display: none;
    }    

    /***COMPETENCES***/
    .competences h3 {
        font-size: 20px; 
    }   
    .competences h4 {
        font-size: 15px; 
    }
    .snip1584 {
        max-width: 250px;
    }
    .snip1584 h5 {
        font-size: 10px;
    }
    .snip1584 h6 {
        font-size: 10px;
    }
    .snip1584 p {
        font-size: 6px;
    }
    .fondcomp{
        display: none;
    }
}

@media screen and (max-width: 200px) {

    /***Header***/
    .snip1584 {
        max-width: 100px;
    }

    /***APROPOS***/
    .apropos h3 {
        font-size: 20px; 
    }   
    .apropos h4 {
        font-size: 15px; 
    }
    .fondapropos {
        display: none;
    }    

    /***COMPETENCES***/
    .competences h3 {
        font-size: 20px;
    }   
    .competences h4 {
        font-size: 15px; 
    }
    .fondcomp{
        display: none;
    }

    /***CREATION***/
    .creation h3 {
        font-size: 17px; 
    }   
    .creation h4 {
        font-size: 15px; 
    }
    .snip1584 h5 {
        font-size: 10px;
    }
    .snip1584 h6 {
        font-size: 10px;
    }
    .snip1584 p {
        font-size: 4px;
    }

}

